.maze {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
}

@media (min-width: 576px) {
    .maze {
        width: 430px;
        height: 430px;
    }
}

@media (min-width: 768px) {
    .maze {
        width: 620px;
        height: 620px;
    }
}

@media (min-width: 992px) {
    .maze {
        width: 800px;
        height: 800px;
    }
}