.cell.goal {
    background-color: #e07264;
}

.cell.start {
    border-left: 2px solid #72db75;
}

.cell.start {
    background-color: #72db75;
}

.cell.onPath {
    background-color: #a0c4ff;
    cursor: pointer;
}

.cell.onSolution {
    background-color: #f4e542;
}

.cell.onPath:hover {
    background-color: #508bed;
}
